<div class="w-full h-full pr-4 mx-4 mt-12">
  <mat-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <app-signup-contact
        [stepper]="stepper"
        [form]="firstFormGroup"
      ></app-signup-contact>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <app-signup-personal
        [stepper]="stepper"
        [form]="secondFormGroup"
      ></app-signup-personal>
    </mat-step>
    <mat-step [stepControl]="hizbFormGroup">
      <app-signup-pages
        [ahzabFrom]="ahzabGroup"
        [form]="hizbFormGroup"
        (submitForm)="onSubmit()"
      ></app-signup-pages>
    </mat-step>
  </mat-stepper>
</div>
<div class="text-center">
  <a
    class="header cursor-pointer underline text-[14px]"
    routerLink="/login"
    >J’ai un compte</a
  >
</div>
