$bg-color: #f6fcff;

$primary-font: "Montserrat", sans-serif;
$secondary-font: "Poppins", sans-serif;

/* Colors: */
$unnamed-color-9e8f2e: #9e8f2e;
$unnamed-color-79d4dc: #79d4dc;
$unnamed-color-00a7a5: #00a7a5;
$unnamed-color-022c64: #022c64;
$unnamed-color-1b478e: #1b478e;
$unnamed-color-eeeeee: #eeeeee;
$unnamed-color-00c2d1: #00c2d1;
$unnamed-color-f30000: #f30000;
$unnamed-color-ffbb00: #ffbb00;
$unnamed-color-888888: #888888;
$unnamed-color-656565: #656565;
$unnamed-color-535353: #535353;
$unnamed-color-ffffff: #ffffff;
$unnamed-color-349fa7: #349fa7;
$unnamed-color-2976a8: #2976a8;
$unnamed-color-b97103: #b97103;
$unnamed-color-15a10b: #15a10b;
$unnamed-color-005212: #005212;
$unnamed-color-cecece: #cecece;
$unnamed-color-b9b9b9: #b9b9b9;
$unnamed-color-000000: #000000;
$unnamed-color-828282: #828282;
$unnamed-color-d51111: #d51111;
$unnamed-color-ffd4d4: #ffd4d4;
$unnamed-color-A4A4A4: #a4a4a4;
$unnamed-color-E6F1FF: #e6f1ff;

/* Font/text values */
$unnamed-font-family-poppins: Poppins;
$unnamed-font-style-normal: normal;
$unnamed-font-weight-600: 600;
$unnamed-font-weight-700: 700;
$unnamed-font-weight-900: 900;
$unnamed-font-weight-normal: normal;
$unnamed-font-size-16: 16px;
$unnamed-font-size-8: 8px;
$unnamed-character-spacing--0-08: -0.08px;
$unnamed-line-spacing-18: 18px;
$unnamed-line-spacing-20: 20px;
$unnamed-line-spacing-46: 46px;
