<h1 class="text-center text-[#005212] header">Connexion</h1>

<div class="grid my-4 justify-items-center">
  <div class="pt-0 input">
    <input placeholder="daftar@example.com" />
  </div>
  <div class="input">
    <input type="password" placeholder="Mot de passe" />
  </div>

  <button class="my-2 btn" routerLink="/login">CONNEXION</button>
</div>
<div class="text-center">
  <a
    class="my-8 cursor-pointer underline font-roboto font-extrabold text-[14px] text-[#005212]"
    routerLink="/signup"
    >Je souhaite m’inscrire</a
  >
</div>
