<h1 class="text-center text-[#005212] mt-40 font-armata text-[2rem]">
  Connexion
</h1>

<div class="grid my-10 justify-items-center">
  <div class="input">
    <mat-form-field appearance="outline">
      <input placeholder="daftar@example.com" />
    </mat-form-field>
  </div>
  <div class="input">
    <mat-form-field appearance="outline">
      <input type="password" placeholder="Password" />
    </mat-form-field>
  </div>

  <button class="my-2 btn" routerLink="/login">CONNEXION</button>
</div>
<div class="text-center">
  <a class="my-8 cursor-pointer underline font-roboto font-extrabold text-[14px] text-[#005212]" routerLink="/signup"
    >Je souhaite m’inscrire</a
  >
</div>
